/* @tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #212429;
}
@media (max-width: 800px) {
  body {
    overflow: hidden;
  }
}

@media (max-height: 820px) {
  body {
    overflow: auto;
  }
}

code {
  font-family: 'Inter', sans-serif;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: sans-serif;
}
